<div class="container_12">
    <div class="grid_12 header-repeat">
        <div id="branding">
            <div class="floatleft logo">
                <img th:src="@{'/images/buet_logo.png'}" alt="Logo" />
            </div>
            <div class="floatleft middle">
                <h1>Institute of Information and Communication Technology (IICT)</h1>
                <p>www.iict.buet.ac.bd</p>
            </div>
            <div class="floatright">
                <div class="floatleft">
                    <img th:src="@{'/images/img-profile.jpg'}" alt="Profile Pic" /></div>
                <div class="floatleft marginleft10">
                    <ul class="inline-ul floatleft">
                        <li>Hello Admin</li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="grid_12">
        <ul class="nav main">
            <li class="ic-dashboard"><a href="/dashboard"><span>Dashboard</span></a> </li>
            <li class="ic-form-style"><a href=""><span>User Profile</span></a></li>
            <li class="ic-typography"><a href="/admin/changepassword"><span>Change Password</span></a></li>
            <li class="ic-grid-tables"><a href="/admin/inbox"><span>Inbox</span></a></li>
            <li class="ic-charts"><a href="/admin/listPost"><span>Visit Website</span></a></li>
        </ul>
    </div>
    <div class="clear">
    </div>