<div class="grid_2">
    <div class="box sidemenu">
        <div class="block" id="section-menu">
            <ul class="section menu">
                <li><a class="menuitem">Site Option</a>
<!--                    <ul class="submenu">-->
<!--                        <li><a href="titleslogan.html">Title & Slogan</a></li>-->
<!--                        <li><a href="social.html">Social Media</a></li>-->
<!--                        <li><a href="copyright.html">Copyright</a></li>-->

<!--                    </ul>-->
<!--                </li>-->

<!--                <li><a class="menuitem">Update Pages</a>-->
<!--                    <ul class="submenu">-->
<!--                        <li><a>About Us</a></li>-->
<!--                        <li><a>Contact Us</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a class="menuitem">Category Option</a>-->
<!--                    <ul class="submenu">-->
<!--                        <li><a href="/admin/addCat">Add Category</a> </li>-->
<!--                        <li><a href="/admin/listCat">Category List</a> </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a class="menuitem">Post Option</a>-->
<!--                    <ul class="submenu">-->
<!--                        <li><a href="/admin/addPost">Add Post</a> </li>-->
<!--                        <li><a href="/admin/listPost">Post List</a> </li>-->
<!--                    </ul>-->
<!--                </li>-->

                <li><a class="menuitem">Transaction</a>
                    <ul class="submenu">
                        <li><a href="/transaction/addVoucher">Add Voucher</a> </li>
                        <li><a href="/userList">User List</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">User Option</a>
                <ul class="submenu">
                    <li><a href="/admin/addUser">Add New User</a> </li>
                    <li><a href="/userList">User List</a> </li>
                </ul>
            </li>
                <li><a class="menuitem">Project Option</a>
                    <ul class="submenu">
                        <li><a href="/project/addProject">Add New Project</a> </li>
                        <li><a href="/project/projectList">Project List</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="grid_10">

    <div class="box round first grid">